<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.tutorial2">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Okhttppost">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".OKhttppractce">

        </activity>
        <activity android:name=".OKhttp"></activity>
        <activity android:name=".CheckConnection" />
        <activity android:name=".Testt" />
        <activity android:name=".Recyclerviewtest" />
        <activity android:name=".Recycler" />
        <activity android:name=".Dropdown" />
        <activity android:name=".CameraWork" />
        <activity android:name=".Contact" />
        <activity android:name=".Page2" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>